<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Employee List</h2>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" data-target="#newModal" data-toggle="modal" ><i class="fa fa-plus">&nbsp;New Employee</i></button>
    </div>
</div>

<div class="container m-2 p-2">
 <table class="table table-bordered table-active table-striped-columns">
     <thead>
        <tr>
           <th>Name</th>
           <th>Address</th>
           <th>Salary</th>
           <th>Action</th>
        </tr>
     </thead>
     <tbody>
      <tr *ngFor="let employee of employeeList">
        <td>{{employee.name}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.salary}}</td>
        <td><button (click)="editClick(employee)" data-target="#editModal" data-toggle="modal" class="btn btn-info"><i class="fa fa-edit"></i></button></td>
        <td><button (click)="deleteClick(employee.id)"  class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
       </tr>
     </tbody>
 </table>
 
</div>

<!-- Save -->

<div class="modal" tabindex="-1" role="dialog" id ="newModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">New Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtname" class="col-lg-4">Name</label> 
            <div class="col-8">
              <input  type="text" name="name" id="txtname" class="form-control" [(ngModel)]="newEmployee.name" placeholder="Enter Name"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="txtSalary" class="col-lg-4">Salary</label> 
            <div class="col-8">
              <input [(ngModel)]="newEmployee.salary" type="text" name="salary" id="txtSalary" class="form-control" placeholder="Enter Salary"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="txtadd" class="col-lg-4">Address</label> 
            <div class="col-8">
              <input [(ngModel)]="newEmployee.address" type="text" name="address" id="txtadd" class="form-control" placeholder="Enter Address"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="saveClick()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit -->
  <div class="modal" tabindex="-1" role="dialog" id ="editModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Edit Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtname" class="col-lg-4">Name</label> 
            <div class="col-8">
              <input [(ngModel)]="editEmployee.name" type="text" name="name" id="txtname" class="form-control" placeholder="Enter Name"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="txtSalary" class="col-lg-4">Salary</label> 
            <div class="col-8">
              <input [(ngModel)]="editEmployee.salary" type="text" name="salary" id="txtSalary" class="form-control" placeholder="Enter Salary"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="txtadd" class="col-lg-4">Address</label> 
            <div class="col-8">
              <input [(ngModel)]="editEmployee.address" type="text" name="address" id="txtadd" class="form-control" placeholder="Enter Address"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="updateClick()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>