<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Change Password</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" />
            <div *ngIf="submitted && f['oldPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['oldPassword'].errors['required']">Old Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
            <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['newPassword'].errors['required']">New Password is required</div>
              <div *ngIf="f['newPassword'].errors['minlength']">New Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
              <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  