<!-- <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Update Profile</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <!-- similar form structure to the register component, without password fields -->
          <!-- <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" id="userName" formControlName="userName" class="form-control" />
            <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
              <div *ngIf="f['userName'].errors['required']">User Name is required</div>
            </div>
          </div>
          <!-- Add other form fields similarly -->
          <!-- <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
   --> -->
